@model Login

@{
    ViewData["Title"] = "Đăng Nhập";
    Layout = "~/Views/Shared/_nen.cshtml";
}
<style>
    .card {
        border-radius: 10px;
        overflow: hidden;
    }

    .card-header {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .card-body {
        padding: 20px;
    }

    .btn-primary {
        border-radius: 8px;
        font-size: 1.2rem;
    }

    .form-control {
        border-radius: 6px;
    }
</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header bg-info text-white text-center">
                    <h3>Đăng Nhập</h3>
                </div>
                <div class="card-body">
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <form asp-action="LoginUser" method="post">
                        <input type="hidden" asp-for="ReturnURL" />

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" class="form-control" required type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit">Đăng Nhập</button>
                        </div>
                        <a asp-controller="Account" asp-action="Register">Không có tài khoản? Đăng ký</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
