@model IEnumerable<FastFoodOnline.Models.LoaiMonAn>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h1>Danh sách loại món ăn</h1>

<p>
    <a asp-action="Create">Thêm loại sản phẩm</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoaiMonAnId">Sửa</a>
            </td>
        </tr>
}
    </tbody>
</table>
